.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.6rem;

  .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    gap: 1.6rem;
  }
}